.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

.heading {
  font-family: 'Arial', sans-serif;
  font-size: 2.5em;
  text-align: center;
  color: #10ff8c;
  margin-bottom: 20px;
}

.inputs {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #93fe83;
}

.inputs input {
  width: 200px;
  height: 50px;
  font-size: 18px;
  margin: 10px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #888;
}

.inputs button {
  border: none;
  width: 150px;
  height: 50px;
  background-color: #13a90b;
  color: white;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.3s;
}

.inputs button:hover {
  cursor: pointer;
  background-color: #0d8606;
}

.listOfFriends {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.friendContainer {
  display: flex;
  flex-direction: row;
  margin: 10px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #252525;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.friend {
  width: 400px;
  height: 60px;
  color: white;
  display: flex;
  padding-left: 15px;
}

.friend h3 {
  margin-left: 15px;
}
.friendContainer button {
  width: 80px;
  height: 60px;
  border: 2px solid black;
  background-color: #5a5a5a;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  transition: 0.3s;
}

.friendContainer button:hover {
  cursor: pointer;
  background-color: #0d8606;
}

#removeBtn {
  border-left: none;
}
